.weekday-selector {
    display: flex;
    flex-wrap: wrap;
    width: 220px;
    gap: 6px;
  }
  
  .weekday-item {
    display: flex;
    align-items: center;
    gap: 5px;
    width: 50px;
  }
  
  input[type="checkbox"] {
    transform: scale(1.2);
  }
  