.pages-container{
    display: flex;
    flex-direction: column;
    gap: 50px;
    width: 350px;
    align-items: center;
}

.buttons-pages-container{
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
}

.buttons-container-row{
    flex-direction: row;
}